In [1]:
import pandas as pd
import numpy as np

C:\Users\Khyaaat\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Khyaaat\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\Khyaaat\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [13]:
data = {
    'Feature1': np.random.rand(10),
    'Feature2': np.random.randint(0, 100, 10),
    'Feature3': np.random.choice(['A', 'B', 'C','D'], 10),
    'Feature4': np.random.randn(10),
    'Feature5': np.random.uniform(1, 10, 10)
}

df = pd.DataFrame(data)

In [14]:
print("Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features):")
df

Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features):

   Feature1  Feature2 Feature3  Feature4  Feature5
0  0.748304        97        A -1.527563  5.856482
1  0.248094        10        D -0.557995  4.165205
2  0.406439        94        A -0.179519  8.045291
3  0.225914        17        B -0.349752  2.713006
4  0.376724        68        D  2.011740  4.191072
5  0.580168         8        A  2.093561  4.026961
6  0.934070        78        B  0.082774  3.246853
7  0.688309        99        C  2.027287  1.840245
8  0.254716        87        D -0.478097  5.322025
9  0.016913        51        C -0.292558  8.655024

In [15]:
print("Task 2 - Check the info of 'df':")
print(df.info())

Task 2 - Check the info of 'df':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  10 non-null     float64
 1   Feature2  10 non-null     int32
 2   Feature3  10 non-null     object
 3   Feature4  10 non-null     float64
 4   Feature5  10 non-null     float64
dtypes: float64(3), int32(1), object(1)
memory usage: 488.0+ bytes
None

In [16]:
print("\nTask 3 - Check the descriptive statistics of 'df':")
print(df.describe())

Task 3 - Check the descriptive statistics of 'df':
        Feature1  Feature2   Feature4   Feature5
count  10.000000  10.00000  10.000000  10.000000
mean    0.447965  60.90000   0.282988   4.806216
std     0.283029  36.95177   1.284936   2.203046
min     0.016913   8.00000  -1.527563   1.840245
25%     0.249750  25.50000  -0.446010   3.441880
50%     0.391582  73.00000  -0.236038   4.178138
75%     0.661274  92.25000   1.529498   5.722868
max     0.934070  99.00000   2.093561   8.655024

In [17]:
print("\nTask 4 - check the 4th index observation with 'loc' slicing operator:")
print(df.loc[4])

Task 4 - check the 4th index observation with 'loc' slicing operator:
Feature1    0.376724
Feature2          68
Feature3           D
Feature4     2.01174
Feature5    4.191072
Name: 4, dtype: object

In [18]:
print("\nTask 5 - Check the null values in your 'df'")
print(df.isnull().sum())

Task 5 - Check the null values in your 'df'
Feature1    0
Feature2    0
Feature3    0
Feature4    0
Feature5    0
dtype: int64